/* CSS adapted from: https://codemyui.com/css-only-text-glitch-and-jerk-effect/ */

div.glitch {
  animation: glitch 3s linear infinite;
}

@keyframes glitch {
  2%,
  43%,
  63% {
    transform: translate(5px, 0) skew(0deg);
  }
  4%,
  40%,
  60% {
    transform: translate(-5px, 0) skew(0deg);
  }
  42% {
    transform: translate(0, 0) skew(5deg);
  }
  62% {
    transform: translate(0, 0) skew(-15deg);
  }
}
